
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <h2 class="page-header" >Reset Password</h2>
  <form class="Reset Password" (submit)="onresetSubmit()">
          
          <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control" placeholder=" Enter the Password" [(ngModel)]="password" name="password">
          </div>

            
         
          <input class="btn btn-lg btn-primary" type="submit" value="Confirm Password">
          
  
           
          
  </form>
  
      </div>